<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/css/font-awesome.min.css') }}">
    <title>{{title}}</title>
</head>

<body>
    <!-- Main NavBar -->
    {% include "navbarMain.html" %}
    <!-- Main Content -->
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <!-- Login Modal -->
    {% include "loginModal.html" %}
    {% include "msgModal.html" %}
    <!-- Footer -->
    <section>
        <footer class="footer bg-dark text-light mt-5" id="footer">
            <div class="container">
                <p class="text-muted small pt-3 text-center">Copyright &copy; Codecipe LLC 2018</p>
                <hr>
            </div>
        </footer>
    </section>

    <script src="{{ url_for('static', filename='vendors/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>